// This is the top-level scss file. Import all other files in here.
@import 'home';
@import '~bootstrap/scss/bootstrap';

@bg-dark {
  color: black;
}

.level {
  height: 50px;
  margin: 10px;
  background-color: black;

}

.level-item {
  padding: 10px;
  margin: 5px;
  color: white;
}

.section {
  margin: 2rem;
  padding: 0;
}

.subtitle {
  margin-bottom: 0.5rem;
  color: white;
  font-weight: bold;
}

.input {
  margin: 0.5rem 0 0.5rem 0;
}

#messageList {
  height: 300%;
}

body {
  background-image: url("/images/background.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

#logo {
  font-size: 30px;
  font-weight: bold;
}

.box {
  background-color: #DCDCDC;
}

.navbar {
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  align-items: center;
}

.slide-container {
  position: relative;
  display: flex;
  margin-bottom: 5%;
  padding: 0;
}

.slide {
  position: absolute;
  display: center;
  margin-bottom: 5%;
  opacity: 0;
  transition: opacity 2s
}

.slide.active {
  opacity: 1;
}

.slideContainer {
  width: 130px;
}

.row {
  align-items: center;
}

ul {
  list-style-type: none;
}