// This is the top-level scss file. Import all other files in here.
@import 'home';
@import '~bootstrap/scss/bootstrap';

@bg-dark {
  color: black;
}

.subtitle {
  margin-bottom: 0.5rem;
  color: white;
  font-weight: bold;
}

.input-lg {
  margin: 0.5rem 0 0.5rem 0;
  width: 100%;
}

#messageList {
  height: 300%;
}

body {
  background-image: url("/images/background.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

#logo {
  font-size: 30px;
  font-weight: bold;
}

.box {
  background-color: #DCDCDC;
}

.navbar {
  color: white;
  background-color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  align-items: center;
}

.slide-container {
  position: relative;
  display: flex;
  margin-bottom: 5%;
  padding: 0;
}

.slide {
  position: absolute;
  display: center;
  margin-bottom: 5%;
  opacity: 0;
  transition: opacity 2s
}

.slide.active {
  opacity: 1;
}

.slideContainer {
  width: 200px;
}

.row {
  align-items: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  color: white;
}

.proposed-debate {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.proposed-debate-li {
  color: black;
  list-style-position: inside;
  padding-left: none;
  border-width: 2px;
}

.col-sm-5 {
  padding-top: 4rem;
  display: inline-block;
  float: none;
}

.col-sm-7 {
  display: inline-block;
  float: none;
}

.form {
  padding: 20px;
  margin-bottom: 40px;
  background-color: lightgrey;
  border-radius: 3%;
  color: black;
  border-color: darkgrey;
  border-style: solid;
}

.button-propose {
  margin-bottom: 1rem;
}

.button-join-debate {
  width: 60px;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  height: 30px;
}

.container-message-list {
  padding: 20px;
  margin-bottom: 10px;
  background-color: lightgrey;
  border-radius: 3%;
  border-style: solid;
  border-width: 2px;
  border-color: darkgrey;
}

.message {
  background-color: white;
  margin-bottom: 5px;
  padding: 5px;
}

.room-name {
  color: white;
}

.input-debate-chatbar {
  border-radius: 5%;
  border-color: darkgrey;
  border-style: solid;
}

.debate-room {
  margin-top: 20px;
}