.propose-debate {
  border-style: solid;
  border-color: #116466;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.propose-debate-form {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #D1E8E2;
  border-radius: 5px;
  color: black;
  border-color: #116466;
  border-style: solid;
  border-width: 2px;
}

.propose-button {
  float: right;
  background-color: #D9B08C !important;
  border-color: #116466 !important;
  margin-top: 10px;
}

.proposed-debate-list {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #D1E8E2;
  border-radius: 5px;
  color: black;
  border-color: #116466;
  border-style: solid;
  border-width: 2px;
  height: 250px;
  overflow: scroll;
}

.proposed-debate-list-item {
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  padding: 10px;
  /*margin: 10px 0;*/
  border: solid black 2px;
  border-radius: 2px;
  margin: 0;
  background-color: #FFCB9A;
  margin-bottom: 5px;
  overflow: auto;
}

.nay-btn {
  width: 60px;
  height: 35px;
  margin-left: 5px;
  line-height: 17px;
  color: #D1E8E2 !important;
  background-color: #116466 !important;
  float: right;
}

.nay-link {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.proposed-debate-li {
  color: #0a393a;
  border-width: 2px;
  word-wrap: break-word;
}

.stance {
  color: #0A393A;
  width: 115px;
}

select {
  color: #D1E8E2 !important;
  float: right;
  background-color: #116466 !important;
}


