.col-sm-4 {
  overflow: hidden;
  height: 30em;
}
.debator-col {
  height: 33em;
}

#messageList {
  height: 300%;
}

.debate-name {
  display: inline-block;
  color: #D1E8E2;
  font-style: italic;
  width: 100%;
  text-align: center;
}

.container .message-list {
  padding: 20px;
  margin-bottom: 10px;
  height: 300px;
  background-color: #D1E8E2;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #116466;
  overflow: scroll;
}

.message-container {
  margin-bottom: 10px;
  display: block;
  clear: both;
}

.message-content {
  display:block;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.speech-bubble-yea {
  position: relative;
  background: #FFCB9A;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  min-width: 40px;
  width: 60%;
  color: #0A393A;
}

.top-yea:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 12%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #FFCB9A;
  border-top: 10px;
  margin-left: -20px;
  margin-top: -5px;
  z-index: 10;
}

.speech-bubble-nay {
  position: relative;
  float: right;
  background: #116466;
  border-radius: 5px;
  padding: 5px;
  margin-top:15px;
  margin-bottom: 30px;
  width: 60%;
  top: 20px;
  margin-right: -38px;
  color: #D1E8E2;
}

.top-nay:before {
  content: '';
  position: absolute;
  top: -20px;
  left: 95%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #116466;
  border-top: 0;
  margin-left: -20px;
  margin-top: -8px;
  top: 0px;
}

.debatorYay, .debatorNay {
  color: #116466;
}

.debatorNay {
  position: relative;
  display: block;
  float: right;
}

::-webkit-scrollbar {
   width: 0px;
}

#likedYea {
  background-color: #D1E8E2 !important;
  padding: 5px;
  font-size: 10px;
  float: right;
  color: #0A393A;
}

#likedNay {
  background-color: #D1E8E2 !important;
  padding: 5px;
  font-size: 10px;
  float: right;
  color: #0A393A;
}

.fa-thumbs-up {
  margin-right: 3px;
}

.room-name {
  color: white;
}

.input-debate-chatbar {
  margin-top: 20px;
  border-radius: 5px;
  border-color: #116466;
  border-style: solid;
  padding: 10px;
  background-color: #D1E8E2;
  color: #0A393A;
}

.input-lg {
  width: 100%;
}

.debate-room {
  margin-top: 20px;
}

.debator-name1, .debator-name2 {
  display:inline-block;
}

.debatorYea {
  float:left;
  color: #116466;
  background-color: #FFCB9A !important;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.debatorNay {
  float:right;
  color: #FFCB9A;
  background-color: #116466 !important;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.progress-bar-container {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.progress-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 40px;
  background: #FFCB9A;
  border-color: #116466;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  border-radius: 35%;
  transition: width 400ms ease-in-out;
}

.progress-bar::-moz-range-thumb {
  width: 25px;
  height: 40px;
  background: #4CAF50;
  cursor: pointer;
}

#grad {
  background-image: linear-gradient(to right, #FFCB9A, #116466);
}

.selectedYea {
  border-color: #ff1a53;
  border-width: 2px;
  border-style: solid;
  background-color: #FFCB9A;
  color: #116466;
  font-size: 25px;
  width: 60px;
  height: 50px;
}

.selectedNay {
  width: 60px;
  height: 50px;
  border-color: #ff1a53;
  border-width: 2px;
  border-style: solid;
  background-color: #116466;
  color: #FFCB9A;
  margin-left: 80px;
}

.yeaClass {
  width: 60px;
  height: 50px;
  background-color: #FFCB9A;
  color: #116466;
}

.nayClass {
  width: 60px;
  height: 50px;
  background-color: #116466;
  color: #FFCB9A;
  margin-left: 80px;
}

.choose-side {
  color: #D1E8E2 !important;
  font-size: 25px;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 10px;
}

.debator1 {
  border:solid #ff1a53 2px;
}

.debator2 {
  border:solid blue 3px;
  right: 0;
  display: block;
}

.img {
  border: solid #ff1a53 2px;
  margin-top: 5px;
  height: 340px;
  width: 300px;
  margin: 7% auto 0 auto;
}

img {
  border: solid #ff1a53 2px;
  margin-top: 5px;
  height: 340px;
  width: 300px;
  margin: 7% auto 0 auto;
}

.image-logo-debate {
  width: 220px;
  height:80px;
  margin-top: 60px;
  border: none;
}

.lrnedSomethingNew {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.lrnedSomethingNewButton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 140px !important;
  height: 60px !important;
  background-color: #FFCB9A;
  color: #116466;
  border-radius: 5px;
  border-style: solid;
  border-color: #0A393A;
  border-width: 2px;
  margin-top: 86px;
}

.winner {
  text-align: center;
  color: #ff1a53;
}

.return-home {
  margin: 0 auto;
  margin-top: 10px;
  color: #D1E8E2;
  font-style: bold;
  background-color: #116466;
  padding: 5px;
  border-color: #FFCB9A;
  border-right-style: solid;
  border-radius: 5px;
  border-width: 2px;
  width: 70px;
  height: 40px;
  font-size: 20px;
}

.flagged {
  color: #ff1a53;
}

.fa-heart {
  color: #ff1a53;
}