.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
/*  background-color: black;*/
  background-image: linear-gradient(#000000, #0a2e38, #000000);
  color: white;
  text-align: center;
  align-items: center;
}

.slide-container {
  position: relative;
  display: flex;
  margin-bottom: 5%;
  padding: 0;
}

.slide {
  position: absolute;
  display: center;
  margin-bottom: 5%;
  opacity: 0;
  transition: opacity 2s
}

.slide.active {
  opacity: 1;
}

.slide-li {
  border-radius: 7px;
}

.slideContainer {
  width: 300px;
  background-color: #F3E0DC;
  margin: 0px 10px 10px 10px;
  border-radius: 7px;
}

.backArrow, .nextArrow {
  margin-bottom: 10px;
}

a:link {
  color: black;
}

.slide-debate-title {
  color: black;
}
