.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
/*  background-color: black;*/
  background-image: linear-gradient(#000000, #0a2e38, #000000);
  color: #FFCB9A;
  text-align: center;
  align-items: center;
}

.slide-container {
  position: relative;
  display: flex;
  margin-bottom: 5%;
  padding: 0;
}

.slide {
  position: absolute;
  display: center;
  margin-bottom: 5px;
  margin-top: 5px;
  opacity: 0;
  transition: opacity 1s;
}

.slide.active {
  opacity: 1;
}

.slide-li {
  border-radius: 5px;
}

.slideContainer {
  width: 500px;
  background-color: #D1E8E2;
  margin: 0px 10px 10px 10px;
  border-radius: 5px;
  border-color: #116466;
  border-right-style: solid;
  border-width: 2px;
}

.backArrow, .nextArrow {
  margin-bottom: 10px;
}

.slide-debate-title {
  color: #0A393A;
  font-style: italic;
}

.d-flex {
  margin-bottom: 10px;
}
