@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

.subtitle {
  margin-bottom: 0.5rem;
  color: white;
  font-weight: bold;
}

body {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  font-family: 'Hammersmith One', sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  color: white;
}

.col-sm-5, .col-sm-7 {
  margin-top: 20px;
  margin-bottom: 100px;
}
