@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

html {
  height: 100%;
}

.subtitle {
  margin-bottom: 0.5rem;
  color: #FFCB9A;
  font-weight: bold;
}

body {
  background-image: linear-gradient(rgba(17,100,102,0.3), rgba(17,100,102,0.3)), url("/images/background.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  font-family: 'Hammersmith One', sans-serif ;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.col-sm-5, .col-sm-7 {
  margin-top: 10px;
}

