.navbar {
color: white;
/*  background-color: black;*/
background-image: linear-gradient(#000000, #0a2e38, #000000);
}

#logo {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}

.username {
  border-radius: 5px;
  font-size: 15px;
}

.username-container {
  display: flex;
  flex-direction: column;
}

.username-label {
  font-size: 15px;
}