.navbar {
color: white;
background-image: linear-gradient(#000000, #0A393A, #000000);
}

#logo {
  color: #D1E8E2;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}

.image-logo {
  width: 100px;
  height: 40px;
  margin-top: 0px;
  border: none;
  margin-left: 20px;
}

.username {
  border-radius: 5px;
  font-size: 15px;
  color: #0A393A;
  border-color: #116466;
}

.username-container {
  display: flex;
  flex-direction: column;
}

.username-label {
  font-size: 15px;
  color: #D1E8E2;
}

.navbar-users {
  color: #FFCB9A;
}