.results-table {
  overflow-x:auto;
  margin-top: 5px;
  height: 340px;
  margin: 7% auto 0 auto;
  text-align: center;
}

td {
  padding: 5px;
  border-right: none;
}

.result-type {
  color: #D1E8E2 !important;
  font-style: italic;
}

.results-debator {
  text-decoration: underline;
  border: none;
}

.results-debator1-name, .results-debator1-name {
  text-align: center;
}

.results-debator1-name {
  color: #0A393A;
  font-weight: bold;
  font-style: italic;
}

.results-debator2-name {
  color: #FFCB9A;
  font-weight: bold;
  font-style: italic;
}

.results-header {
  color:#D1E8E2;
  text-align: center;
  margin-left: 160px;
  margin-top: 40px;
}

.results-debator1, .results-dabator2{
  border: none;
  text-align: center;
}

.results-debator1 {
  color: #0A393A;
}

.results-debator2 {
  color: #FFCB9A;
}

#overlay-results-debator1 {
  background-color: rgba(255, 203, 154 , 1);
}

#overlay-results-debator2 {
  background-color: rgba(17, 100, 102, 0.8);
}

