.url-image {
  height: 100%;
  width: 25%;
  display: inline;
  border: solid black 1px;
  border-radius: 3px;
  margin: 0;
}
.url-link {
  font-size: 15px;
  margin-left: 10px;
  color: #0A393A;
}

.topic-item {
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  height: 6em;
  padding: 10px;
  background-color: #FFCB9A;
  margin-bottom: 5px;
}

.topic-list {
  padding: 20px;
  margin-bottom: 10px;
  height: 454px;
  background-color: #D1E8E2;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #116466;
  overflow: scroll;
}
.credit {
  font-size: 10px;
  color: #D1E8E2;
}